Repository aragon/aragon-cli, pull requests merged in 2020-02, with the labels that each got.

#1335 Skip IPFS installation for buidler boilerplate in create-aragon-app
  packages/create-aragon-app/src/commands/create-aragon-app.js
Labels: :construction_worker: buidler plugin

#1336 Prompting the user for dependency installation + other tweaks
  packages/create-aragon-app/npm-shrinkwrap.json
  packages/create-aragon-app/package.json
  packages/create-aragon-app/src/commands/create-aragon-app.js
  packages/create-aragon-app/src/util.js
Labels: 📟 cli

#1392 Unskip test working and fix hanging tests
  packages/cli/test/ipfs/ipfs-view.test.js
  packages/cli/test/start/start.test.js
Labels: tests

#1393 Add option to prevent create-aragon-app to install dependencies
  packages/create-aragon-app/src/commands/create-aragon-app.js
  packages/create-aragon-app/test/create-app.test.js
Labels: tests

#1390 Update ens mainnet address and warn the user
  packages/cli/config/environments.default.json
  packages/cli/src/lib/environment/loadConfigFiles.js
Labels: :skull: security, 📟 cli

#1391 Fix import names
  packages/cli/src/lib/apm/generateArtifact.js
  packages/cli/src/lib/apm/getPrevAndNextVersion.js
Labels: 📟 cli

#1424 Fix publish with intent
  packages/cli/src/commands/apm_cmds/publish.js
  packages/cli/src/commands/apm_cmds/util/runPublishTask.js
Labels: 📟 cli

#1433 Update default gas price on environments
  packages/toolkit/config/environments.default.json
  packages/toolkit/test/token/snapshots/token.test.js.md
  packages/toolkit/test/token/snapshots/token.test.js.snap
Labels: 🛠️ toolkit

#1479 Added new tests for toolkit/process.js
  packages/toolkit/src/helpers/node/process.js
  packages/toolkit/test/helpers/node/process.test.js
  packages/toolkit/test/node/runProcess.js
Labels: tests

#1503 Refactor APM API and clients
  packages/cli/npm-shrinkwrap.json
  packages/cli/package.json
  packages/cli/src/commands/apm_cmds/publish.js
  packages/cli/src/commands/apm_cmds/util/runPrepareForPublishTask.js
  packages/cli/src/commands/apm_cmds/util/runPublishTask.js
  packages/cli/src/commands/apm_cmds/util/runSetupTask.js
  packages/cli/src/commands/apm_cmds/versions.js
  packages/cli/src/commands/run.js
  packages/cli/src/util.js
  packages/cli/test/app/app.test.js
  packages/cli/test/help/snapshots/help.test.js.md
  packages/cli/test/help/snapshots/help.test.js.snap
  packages/cli/test/start/start.test.js
  packages/create-aragon-app/npm-shrinkwrap.json
  packages/toolkit/npm-shrinkwrap.json
  packages/toolkit/package.json
  packages/toolkit/src/apm/apm.ts
  packages/toolkit/src/apm/getApmRegistryPackages.ts
  packages/toolkit/src/apm/getApmRepo.ts
  packages/toolkit/src/apm/index.ts
  packages/toolkit/src/apm/publishVersion.ts
  packages/toolkit/src/apm/types.ts
  packages/toolkit/src/apm/utils.ts
  packages/toolkit/src/dao/acl/grantNewVersionsPermission.ts
  packages/toolkit/src/dao/newDao.ts
  packages/toolkit/src/dao/utils/wrapper.ts
  packages/toolkit/src/helpers/useEnvironment.ts
  packages/toolkit/test/apm/getApmRegistryPackages.test.js
  packages/toolkit/test/apm/getApmRepo.test.js
  packages/toolkit/test/apm/getApmRepoVersions.test.js
  packages/toolkit/test/dao/acl/getPermissions.test.js
  packages/toolkit/test/dao/acl/snapshots/getPermissions.test.js.md
  packages/toolkit/test/dao/acl/snapshots/getPermissions.test.js.snap
Labels: 🛠️ toolkit

#1514 Cherry pick parser and generateArtifact
  packages/toolkit/npm-shrinkwrap.json
  packages/toolkit/package.json
  packages/toolkit/src/types.ts
  packages/toolkit/src/utils/generateArtifact.js
  packages/toolkit/src/utils/getAragonArtifact.ts
  packages/toolkit/src/utils/index.ts
  packages/toolkit/src/utils/parseContractFunctions.ts
  packages/toolkit/src/utils/solidityExtractor.js
  packages/toolkit/src/utils/solidityExtractor.ts
  packages/toolkit/test/dao/acl/getPermissions.test.js
  packages/toolkit/test/dao/acl/snapshots/getPermissions.test.js.md
  packages/toolkit/test/dao/acl/snapshots/getPermissions.test.js.snap
  packages/toolkit/test/register.js
  packages/toolkit/test/utils/generateArtifact.test.js
  packages/toolkit/test/utils/getAragonArtifact.test.ts
  packages/toolkit/test/utils/parseContractFunctions.test.ts
  packages/toolkit/test/utils/sampleContracts/Finance.sol
Labels: 🛠️ toolkit

#1525 increased test coverage in toolkit
  packages/toolkit/test/dao/kernel/appBase.test.js
  packages/toolkit/test/dao/kernel/appProxy.test.js
  packages/toolkit/test/dao/newDao.test.js
  packages/toolkit/test/utils/aclParams.test.js
Labels: tests

#1524 Bits needed to publish on buidler plugin
  packages/toolkit/src/apm/index.ts
  packages/toolkit/src/apm/publishVersion.ts
Labels: :construction_worker: buidler plugin, 🛠️ toolkit
