Repository aragon/aragon-cli, pull requests merged in 2020-01, with the labels that each got.

#1140 Fix critical shebang linux bug
  packages/cli/npm-shrinkwrap.json
  packages/cli/package.json
  packages/cli/src/commands/devchain_cmds/start.js
  packages/cli/src/index.js
  packages/create-aragon-app/test/create-app.test.js
Labels: 🐛 bug

#1109 Update md files for v7 release
  CHANGELOG.md
  CHANGELOG_STABLE_VERSIONS.md
  README.md
  packages/create-aragon-app/README.md
  packages/toolkit/README.md
Labels: 📚 docs

#1180 Support istanbul on devchain
  docs/Main-commands.md
  packages/cli/npm-shrinkwrap.json
  packages/cli/package.json
  packages/cli/src/commands/devchain_cmds/start.js
  packages/cli/src/commands/devchain_cmds/utils/ganache-vars.js
  packages/cli/src/commands/run.js
  packages/toolkit/test/token/snapshots/token.test.js.md
  packages/toolkit/test/token/snapshots/token.test.js.snap
Labels: 💡 feature update

#1222 Move logic #3
  packages/cli/npm-shrinkwrap.json
  packages/cli/src/commands/apm_cmds/publish.js
  packages/cli/src/commands/apm_cmds/util/runPrepareForPublishTask.js
  packages/cli/src/lib/apm/generateArtifact.js
  packages/cli/src/lib/environment/configEnvironment.js
  packages/toolkit/npm-shrinkwrap.json
  packages/toolkit/package.json
  packages/toolkit/src/helpers/extractContractInfoToFile.js
  packages/toolkit/src/helpers/generateArtifact.js
  packages/toolkit/src/helpers/index.js
  packages/toolkit/src/helpers/solidity-extractor.js
  packages/toolkit/test/helpers/generateArtifact.test.js
Labels: 🛠️ toolkit

#1105 Run tests without subprocess and split tests and examples
  .travis.yml
  package.json
  packages/toolkit/examples/encode.js
  packages/toolkit/package.json
  packages/toolkit/test-examples/createSingleVote.test.js
  packages/toolkit/test/examples/encode.test.js
Labels: 🛠️ toolkit

#1214 Move logic #2
  .travis.yml
  package.json
  packages/cli/npm-shrinkwrap.json
  packages/cli/src/commands/apm_cmds/info.js
  packages/cli/src/commands/apm_cmds/publish.js
  packages/cli/src/commands/apm_cmds/util/generate-artifact.js
  packages/cli/src/commands/apm_cmds/util/runPrepareForPublishTask.js
  packages/cli/src/commands/apm_cmds/util/runPublishTask.js
  packages/cli/src/commands/apm_cmds/util/runSetupTask.js
  packages/cli/src/commands/dao_cmds/install.js
  packages/cli/src/commands/dao_cmds/new.js
  packages/cli/src/commands/dao_cmds/upgrade.js
  packages/cli/src/commands/run.js
  packages/cli/src/lib/apm/generateArtifact.js
  packages/cli/src/lib/apm/getPrevAndNextVersion.js
  packages/cli/src/lib/environment/configEnvironment.js
  packages/cli/src/lib/publish/askToConfirm.js
  packages/cli/src/lib/publish/preprareFiles.js
  packages/cli/src/util.js
  packages/create-aragon-app/npm-shrinkwrap.json
  packages/toolkit/examples/encode.js
  packages/toolkit/npm-shrinkwrap.json
  packages/toolkit/package.json
  packages/toolkit/src/apm/apmGetFile.js
  packages/toolkit/src/apm/apmIsValidBump.js
  packages/toolkit/src/apm/apmPublishVersion.js
  packages/toolkit/src/apm/apmPublishVersionIntent.js
  packages/toolkit/src/apm/getApmRepo.js
  packages/toolkit/src/apm/index.js
  packages/toolkit/src/helpers/constants.js
  packages/toolkit/src/helpers/extractContractInfoToFile.js
  packages/toolkit/src/helpers/generateArtifact.js
  packages/toolkit/src/helpers/index.js
  packages/toolkit/src/helpers/solidity-extractor.js
  packages/toolkit/test-examples/createSingleVote.test.js
  packages/toolkit/test/apm/getApmRepo.test.js
  packages/toolkit/test/dao/apps.test.js
  packages/toolkit/test/dao/new.test.js
  packages/toolkit/test/examples/encode.test.js
  packages/toolkit/test/helpers/aragonjs-wrapper.test.js
  packages/toolkit/test/helpers/generateArtifact.test.js
  packages/toolkit/test/test-helpers/getNewDaoAddress.js
Labels: 🛠️ toolkit

#1203 Move logic EPIC
  .travis.yml
  package.json
  packages/cli/npm-shrinkwrap.json
  packages/cli/src/commands/apm_cmds/info.js
  packages/cli/src/commands/apm_cmds/publish.js
  packages/cli/src/commands/apm_cmds/util/generate-artifact.js
  packages/cli/src/commands/apm_cmds/util/runPrepareForPublishTask.js
  packages/cli/src/commands/apm_cmds/util/runPublishTask.js
  packages/cli/src/commands/apm_cmds/util/runSetupTask.js
  packages/cli/src/commands/dao_cmds/install.js
  packages/cli/src/commands/dao_cmds/new.js
  packages/cli/src/commands/dao_cmds/upgrade.js
  packages/cli/src/commands/dao_cmds/utils/getRepoTask.js
  packages/cli/src/commands/run.js
  packages/cli/src/lib/apm/generateArtifact.js
  packages/cli/src/lib/apm/getPrevAndNextVersion.js
  packages/cli/src/lib/environment/configEnvironment.js
  packages/cli/src/lib/publish/askToConfirm.js
  packages/cli/src/lib/publish/preprareFiles.js
  packages/cli/src/util.js
  packages/create-aragon-app/npm-shrinkwrap.json
  packages/toolkit/examples/encode.js
  packages/toolkit/npm-shrinkwrap.json
  packages/toolkit/package.json
  packages/toolkit/src/apm/apmGetFile.js
  packages/toolkit/src/apm/apmIsValidBump.js
  packages/toolkit/src/apm/apmPublishVersion.js
  packages/toolkit/src/apm/apmPublishVersionIntent.js
  packages/toolkit/src/apm/getApmRepo.js
  packages/toolkit/src/apm/index.js
  packages/toolkit/src/helpers/constants.js
  packages/toolkit/src/helpers/encodeInitPayload.js
  packages/toolkit/src/helpers/extractContractInfoToFile.js
  packages/toolkit/src/helpers/generateArtifact.js
  packages/toolkit/src/helpers/index.js
  packages/toolkit/src/helpers/solidity-extractor.js
  packages/toolkit/test-examples/createSingleVote.test.js
  packages/toolkit/test/apm/getApmRepo.test.js
  packages/toolkit/test/dao/apps.test.js
  packages/toolkit/test/dao/new.test.js
  packages/toolkit/test/examples/encode.test.js
  packages/toolkit/test/helpers/aragonjs-wrapper.test.js
  packages/toolkit/test/helpers/generateArtifact.test.js
  packages/toolkit/test/test-helpers/getNewDaoAddress.js
Labels: 🛠️ toolkit

#1245 Configure specific owners on each package
  .github/CODEOWNERS
Labels: :roll_eyes: chore

#1239 Update dependencies
  packages/cli/npm-shrinkwrap.json
  packages/cli/package.json
  packages/create-aragon-app/npm-shrinkwrap.json
  packages/create-aragon-app/package.json
  packages/toolkit/npm-shrinkwrap.json
  packages/toolkit/package.json
  packages/toolkit/src/helpers/aragonjs-wrapper.js
  packages/toolkit/test/ipfs/snapshots/daemonAndConfig.test.js.md
  packages/toolkit/test/ipfs/snapshots/daemonAndConfig.test.js.snap
Labels: :arrow_heading_down: dependencies

#1289 Fix getMerkleDAG
  package.json
  packages/cli/.eslintignore
  packages/cli/package.json
  packages/cli/src/commands/ipfs_cmds/propagate.js
  packages/cli/src/commands/ipfs_cmds/view.js
  packages/create-aragon-app/package.json
  packages/toolkit/package.json
  packages/toolkit/src/ipfs/data-viz.js
  packages/toolkit/src/ipfs/data.js
  packages/toolkit/src/ipfs/propagation.js
  packages/toolkit/test/ipfs/data.test.js
  packages/toolkit/test/ipfs/snapshots/data-viz.test.js.md
  packages/toolkit/test/ipfs/snapshots/data-viz.test.js.snap
  packages/toolkit/test/ipfs/snapshots/data.test.js.md
  packages/toolkit/test/ipfs/snapshots/data.test.js.snap
Labels: 🐛 bug, 🛠️ toolkit
